@font-face {
  font-family: "Sport Scholars Outline";
  src: url("./fonts/SportScholars-Outline.woff2") format("woff2"),
    url("./fonts/SportScholars-Outline.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
